<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front_end/static/css/enter_fund.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/front_end/static/images/Vector.svg">
        <div id="enter">펀딩 참여</div>
    </header>
    <div class="fundEnter">
        <img src="/front_end/static/images/airpod.png">
        <h1>서희야 생일 축하해 🫶</h1>
        <h2>15번째 후원자 자두자두졸려님</h2>
        <h3>선물 펀딩이 완료되었습니다.<br>펀딩에 함께해주셔서 감사합니다 </h3>
        <button class="enter_btn">메인 화면으로 돌아가기</button>

    </div>
</body>
</html>