<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>친구 요청 페이지</title>
  <link rel="stylesheet" href="/front_end/static/css/friendRequest.css">
</head>
<body>
  <header>
    <div class="manageFriendNav">
      <a href="#"><img src="/front_end/static/images/back.svg" alt="back" class="backImg"></a>
      <p class="manageFriendText">친구 관리</p>
    </div>
  </header>
  <section>
    <div class="selectButtonBox">
      <button class="requestFriendButton">친구 신청</button>
      <button class="allFriendButton">모든 친구</button>
    </div>
    <div class="idSearchBox">
      <label for="id"><p class="idSearchText">아이디로 검색하기</p></label>
      <div class="idSearchFieldBox">
        <input type="text" name="id" class="idSearchField" placeholder="아이디를 입력해주세요.">
        <button class="searchButton">검색</button>
      </div>
    </div>
    <div class="hr"></div>
    <div class="nickSearchBox">
      <label for="nick"><p class="nickSearchText">닉네임으로 검색하기</p></label>
      <div class="nickSearchFieldBox">
        <input type="text" name="nick" class="nickSearchField" placeholder="닉네임을 입력해주세요.">
        <button class="searchButton"></button>
      </div>
    </div>
  </section>
</body>
</html>