<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front_end/static/css/fund_choose.css">
    <script defer src="../../front_end/static/js/fund_choose.js"></script> 
    <title>Document</title>
</head>
<body>
   <header>
    <img src="/front_end/static/images/Vector.svg">
        <div id="enter">작소 펀딩 만들기</div>
   </header>
    <div class="fundChoose">
        <h1>만들고자 하는 작소 펀딩을</h1>
        <h2>선택해주세요.</h2>
        <div class="container">
            <button class="box non-click" id="first">선물펀딩</button>
            <button class="box non-click" id="second">소소펀딩</button>
            <button class="box non-click" id="third">드림펀딩</button>
        </div>
    </div>
</body>
</html>