<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front_end/static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <img src="/front_end/static/images/group.png" alt="My Image">
        <p>아이디</p><span><input type ="text"/></span> 
        <p>비밀번호</p><span><input type ="password"/></span> 

           <div class="btn">
            <div class="check_wrap">
                <input type="checkbox" id="check_btn"/>
                <label for="check_btn"><span>아이디 저장</span></label>
            </div>
            <div class="check_wrap2">
                <input type="checkbox" id="check_btn2"/>
                <label for="check_btn2"><span>자동 로그인</span></label>
            </div>
          </div>
       
       <button class="login">로그인</button>
          <div class="search">
            <p>아이디 찾기</p>
            <p>비밀번호 찾기</p>
          </div>
       
       <button class="sign">회원가입 하기</button>
    </div>
</body>
</html>

