<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>작소펀딩 홈</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/front_end/static/css/mainPage.css">
</head>
<body>
  <header>
    <div class="mainNav">
      <span class="logoImg"><a href="#"><img src="/front_end/static/images/logo.svg" alt="logo"></a></span>
      <span class="searchImg"><a href="#"><img src="/front_end/static/images/search.svg" alt="search"></a></span>
      <div class="searchImgBox">
        <span class="noticeImg"><a href="#"><img src="/front_end/static/images/notice.svg" alt="notice"></a></span>
        <img src="/front_end/static/images/redDot.svg" alt="redDot" class="redDotImg">
      </div>
      <!-- <span class="hamburgerImg"><a href="#"><img src="/front_end/static/images/hamburger.svg" alt="hamburger"></a></span> -->
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>
  </header>

  <!-- banner -->
  <div class="bannerBox">
    <div class="mainBanner" id="banner1">
      <div class="mainTextBox">
        <img src="/front_end/static/images/logo.svg" alt="logo" class="logoImg">
        <img src="/front_end/static/images/mainBannerText.svg" alt="text" class="mainBannerText">
      </div>
      <div class="subTextBox">
        <img src="/front_end/static/images/heart.svg" alt="heart" class="heartImg">
        <p class="subText">런칭 기념 이벤트</p>
        <img src="/front_end/static/images/heart.svg" alt="heart" class="heartImg">
      </div>
    </div>
    <div class="subBanner" id="banner2"></div>
    <div class="subBanner" id="banner3"></div>
    <div class="subBanner" id="banner4"></div>
    <div class="dotList">
      <span><a href="banner1"><img src="/front_end/static/images/circle_gray.svg" alt="circle_gray" class="dot1"></a></span>
      <span><a href="banner2"><img src="/front_end/static/images/circle_gray.svg" alt="circle_gray" class="dot2"></a></span>
      <span><a href="banner3"><img src="/front_end/static/images/circle_gray.svg" alt="circle_gray" class="dot3"></a></span>
      <span><a href="banner4"><img src="/front_end/static/images/circle_gray.svg" alt="circle_gray" class="dot4"></a></span>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>