<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front_end/static/css/mypage.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="mainNav">
          <span class="logoImg"><a href="#"><img src="/front_end/static/images/logo.svg" alt="logo"></a></span>
          <span class="noticeImg"><a href="#"><img src="/front_end/static/images/notice.svg" alt="notice"></a></span>
          <span class="noticeImg"><a href="#"><img src="/front_end/static/images/notice.svg" alt="notice"></a></span>
        </div>
    </header>

      <div class="mypage">
        <img src>
        <div class="my-box">
            <p>로그인을 해주세요</p>
            <button>로그인/회원가입</button>
        </div>

        <div class="jaksoFund">
            <p>작소펀딩</p>
            <div class="jaksoImg">
             <img src><span>작소펀딩</span>
             <img src><span>소소펀딩</span>
             <img src><span>드림펀딩</span>
            </div>
        </div>

    
        <div class="list">
            <h1>펀딩 순위</h1>
            <ul>
                <li>선물 펀딩 순위 보기</li>
                <li>소소 펀딩 순위 보기</li>
                <li>드림 펀딩 순위 보기</li>
            </ul>

            <h1>개인 정보 관리</h1>
            <ul>
                <li>환불 계좌 관리</li>
                <li>배송지 관리</li>
                <li>펀딩 참여 내역</li>
            </ul>

            <h1>게시판</h1>
            <ul>
                <li>공지사항</li>
                <li>자주하는 질문</li>
                <li>Q&A 게시판</li>
            </ul>
        </div>
      </div>


</body>
</html>