<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>선물펀딩 목록 페이지</title>
  <link rel="stylesheet" href="/front_end/static/css/presentFundListPage.css">
</head>
<body>
  <header>
    <div class="presentListNav">
      <a href="#"><img src="/front_end/static/images/back.svg" alt="back" class="backImg"></a>
      <p class="presentFundText">선물 펀딩</p>
      <span class="searchImg"><a href="#"><img src="/front_end/static/images/search.svg" alt="search"></a></span>
      <div class="noticeImgBox">
        <span class="noticeImg"><a href="#"><img src="/front_end/static/images/notice.svg" alt="notice"></a></span>
        <img src="/front_end/static/images/redDot.svg" alt="redDot" class="redDotImg">
      </div>
      <span class="hamburgerImg"><a href="#"><img src="/front_end/static/images/hamburger.svg" alt="hamburger"></a></span>
    </div>
  </header>

  <section>
    <div class="listTextBox">
      <p class="notifyAmountText">총 15개의 선물 펀딩이 있습니다.</p>
      <p class="recentText">최신순</p>
      <img src="/front_end/static/images/down.svg" alt="down" class="downImg">
    </div>
    <article>
      <div class="listBox">
        <div class="itemImgBox">
          <img src="/front_end/static/images/itemImg.png" alt="itemImg" class="itemImg item1">
        </div>
        <div class="aboutItemBox">
          <div class="aboutItemTextBox">
            <p class="aboutItemText">서희얌 생일 축하햄!</p>
            <img src="/front_end/static/images/blankHeart.svg" alt="blankHeart" class="blankHeart">
          </div>
          <p class="totalMoneyText">총 <span class="totalMoney totalMoney1">360000</span>₩</p>
          <div class="currentProgressBox">
            <p class="currentPercentText"><span class="currentPercent">80</span>%</p>
            <p class="currentMoneyText"><span class="currentMoney currentMoney1">287200</span>₩</p>
          </div>
          <div class="progressbarBox"></div>
        </div>
      </div>
    </article>
  </section>
</body>
</html>