<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>선물펀딩 목록 페이지</title>
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/front_end/static/css/presentFundListPage.css">
</head>
<body>
  <header>
    <div class="presentListNav">
      <a href="#"><img src="/front_end/static/images/back.svg" alt="back" class="backImg"></a>
      <p class="presentFundText">선물 펀딩</p>
      <span class="searchImg"><a href="#"><img src="/front_end/static/images/search.svg" alt="search"></a></span>
      <div class="noticeImgBox">
        <span class="noticeImg"><a href="#"><img src="/front_end/static/images/notice.svg" alt="notice"></a></span>
        <img src="/front_end/static/images/redDot.svg" alt="redDot" class="redDotImg">
      </div>
      <span class="hamburgerImg"><a href="#"><img src="/front_end/static/images/hamburger.svg" alt="hamburger"></a></span>
    </div>
  </header>

  <section>
    <div class="listTextBox">
      <p class="notifyAmountText">총 15개의 선물 펀딩이 있습니다.</p>
      <p class="recentText">최신순</p>
      <img src="/front_end/static/images/down.svg" alt="down" class="downImg">
    </div>
    <article>
      <div class="listBox">
        <div class="itemImgBox">
          <img src="/front_end/static/images/itemImg.png" alt="itemImg" class="itemImg item1">
        </div>
        <div class="aboutItemBox">
          <div class="aboutItemTextBox">
            <p class="aboutItemText text1">서희얌 생일 축하햄!</p>
            <img src="/front_end/static/images/blankHeart.svg" alt="blankHeart" class="blankHeart">
          </div>
          <p class="totalMoneyText">총 <span class="totalMoney totalMoney1">360000</span>₩</p>
          <div class="currentProgressBox">
            <p class="currentPercentText"><span class="currentPercent percent1">80</span>%</p>
            <p class="currentMoneyText"><span class="currentMoney currentMoney1">287200</span>₩</p>
          </div>
          <div class="progressbarBox">
            <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar  progressbar bar1" style="width: 75%; background-color: #F33D69;"></div>
            </div>
          </div>
      </div>
    </article>

    <article>
      <div class="listBox">
        <div class="itemImgBox">
          <img src="/front_end/static/images/itemImg.png" alt="itemImg" class="itemImg item1">
        </div>
        <div class="aboutItemBox">
          <div class="aboutItemTextBox">
            <p class="aboutItemText text2">서희얌 생일 축하햄!</p>
            <img src="/front_end/static/images/blankHeart.svg" alt="blankHeart" class="blankHeart">
          </div>
          <p class="totalMoneyText">총 <span class="totalMoney totalMoney2">1000000</span>₩</p>
          <div class="currentProgressBox">
            <p class="currentPercentText"><span class="currentPercent percent2">80</span>%</p>
            <p class="currentMoneyText"><span class="currentMoney currentMoney2">100000</span>₩</p>
          </div>
          <div class="progressbarBox">
            <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar  progressbar bar2" style="width: 75%; background-color: #F33D69;"></div>
            </div>
          </div>
      </div>
    </article>

    <article>
      <div class="listBox">
        <div class="itemImgBox">
          <img src="/front_end/static/images/itemImg.png" alt="itemImg" class="itemImg item1">
        </div>
        <div class="aboutItemBox">
          <div class="aboutItemTextBox">
            <p class="aboutItemText text3">서희얌 생일 축하햄!</p>
            <img src="/front_end/static/images/blankHeart.svg" alt="blankHeart" class="blankHeart">
          </div>
          <p class="totalMoneyText">총 <span class="totalMoney totalMoney3">300000</span>₩</p>
          <div class="currentProgressBox">
            <p class="currentPercentText"><span class="currentPercent percent3">80</span>%</p>
            <p class="currentMoneyText"><span class="currentMoney currentMoney3">25000</span>₩</p>
          </div>
          <div class="progressbarBox">
            <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar  progressbar bar3" style="width: 75%; background-color: #F33D69;"></div>
            </div>
          </div>
      </div>
    </article>

    <article>
      <div class="listBox">
        <div class="itemImgBox">
          <img src="/front_end/static/images/itemImg.png" alt="itemImg" class="itemImg item1">
        </div>
        <div class="aboutItemBox">
          <div class="aboutItemTextBox">
            <p class="aboutItemText text4">서희얌 생일 축하햄!</p>
            <img src="/front_end/static/images/blankHeart.svg" alt="blankHeart" class="blankHeart">
          </div>
          <p class="totalMoneyText">총 <span class="totalMoney totalMoney4">50000</span>₩</p>
          <div class="currentProgressBox">
            <p class="currentPercentText"><span class="currentPercent percent4">80</span>%</p>
            <p class="currentMoneyText"><span class="currentMoney currentMoney4">1000</span>₩</p>
          </div>
          <div class="progressbarBox">
            <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar  progressbar bar4" style="width: 75%; background-color: #F33D69;"></div>
            </div>
          </div>
      </div>
    </article>
    <div class="makeMyFundButtonBox">
      <button class="makeMyFundButton"><a href="#">나만의 작소펀딩 만들기</a></button>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/front_end/static/js/presentFundList.js"></script>
</body>
</html>