<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front_end/static/css/search.css">
    <title>Document</title>
</head>
<body>

    
      <div class="search">
        <input type="text" placeholder="키워드로 펀딩을 검색해보세요!">
        <img src="/front_end/static/images/Union.svg">
      </div>

    

    <div class="scroll">
        <div class="img-btn">
          <button class="image-button">
            <img src="/front_end/static/images/image-button.svg" alt="이미지 설명">
          </button><span>두팔이 생일</span>
        </div>
       

        <div class="img-btn">
            <button class="image-button">
              <img src="/front_end/static/images/image-button.svg" alt="이미지 설명">
            </button><span>두팔이 생일</span>
          </div>

          <div class="img-btn">
            <button class="image-button">
              <img src="/front_end/static/images/image-button.svg" alt="이미지 설명">
            </button><span>디올 핸드크림</span>
          </div>

          <div class="img-btn">
            <button class="image-button">
              <img src="/front_end/static/images/image-button.svg" alt="이미지 설명">
            </button><span>디올 핸드크림</span>
          </div>

          <div class="img-btn">
            <button class="image-button">
              <img src="/front_end/static/images/image-button.svg" alt="이미지 설명">
            </button><span>다올 핸드크림</span>
          </div>

          <div class="img-btn">
            <button class="image-button">
              <img src="/front_end/static/images/image-button.svg" alt="이미지 설명">
            </button><span>디올 핸드크림</span>
          </div>
    </div>

    <hr>

    <p>최근 검색한 검색어가 없어요.</p>
    
</body>
</html>