<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front_end/static/css/sosojoin.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav">
          <span class="noticeImg"><a href="#"><img src="/front_end/static/images/Vector.svg" alt="notice"></a></span>
          <p>펀딩 참여</p>
        </div>
    </header>
    <div class="sosojoin">
        <p>펀딩 이름</p>
        <div class="join">
            <img src="/front_end/static/images/join.png">
                <div class="mini-join">
                    <h1>어머 이건 꼭 사야해</h1>
                    <h2>펀딩 종류 : 소소 펀딩<br>
                    23.11.10~23.11.20</h2>
                </div>
        </div>


        <h5>펀딩 금액별 리워드</h5>
        <div class="container">
            <div class="row">
            <input type="checkbox" id="checkbox1" name="checkbox1">
              <div class="box1">12,000</div>
              <div class="box2">어머 이건 꼭 사야해 티 x1</div>
            </div>
            <div class="row">
            <input type="checkbox" id="checkbox1" name="checkbox1">
              <div class="box1">12,000</div>
              <div class="box2">어머 이건 꼭 사야해 티 x1</div>
            </div>
            <div class="row">
            <input type="checkbox" id="checkbox1" name="checkbox1">
              <div class="box1">12,000</div>
              <div class="box2">어머 이건 꼭 사야해 티 x1</div>
            </div>
          </div>

        <h4>선택하신 리워드의 펀딩 금액을 확인해주세요.</h4>
        <div class="grid-container">
            <input type="text" placeholder="입력하세요">
            <button type="button">확인</button>
        </div>

        <h5>펀딩(결제) 방법 선택</h5>
        <div class="grid">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>

        <hr>
       
        <div class="caution">
            <p>주의 사항</p>
            <ul>
                <li>펀딩은 100원 단위로 가능합니다.</li>
                <li>기한 내에 달성률 100%에 도달하지 못했거나, 펀딩이 취소되는 경우 선택하신 결제 방법으로 영업일 기준 3~5일 이내에 환불 처리 됩니다.</li>
            </ul>
          </div>

        <button class="go">12,000원 펀딩하기</button>
    </div>
</body>
</html>