{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/enter_fund.css' %}">
    <header>
        <img src="{% static 'images/Vector.svg' %}">
        <div id="enter">펀딩 참여</div>
    </header>
    <div class="fundEnter">
        <h2>{{request.user.username}}님</h2>
        <h3>선물 펀딩이 실패했습니다.<br>다시 한 번 시도해주시기 바랍니다. </h3>
        <button class="enter_btn" onclick="location.href='{% url 'main:mainpage' %}'">메인 화면으로 돌아가기</button>

    </div>
    <script>
      // JSON 문자열을 파싱하여 JavaScript 객체로 변환
      console.log();
      const resData = JSON.parse(`${res}`);
      console.log(resData);

      // totalAmount 값을 추출
      const totalAmount = resData.totalAmount;

      // totalAmount를 표시할 요소를 찾아서 표시
      const totalAmountDisplay = document.getElementById("totalAmountDisplay");
      totalAmountDisplay.innerHTML = `totalAmount: ${totalAmount}원`;
    </script>
{% endblock %}