<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>결제위젯 샘플페이지-결제결과</title>
  </head>

  <body>
    <div class="col-md-6">
      <!-- 결제 성공 시 -->
      <h2 style="margin-top: 10px; padding: 20px 0px 10px 0px">
        <img
          width="45px"
          src="https://static.toss.im/3d-emojis/u1F911-apng.png"
        />
        결제 성공
      </h2>
      </div>

      <div class="gray">
        <img src="{{funding.funding_image.url}}" alt="펀딩 이미지">
        <div id="totalAmountDisplay">
            <!-- totalAmount를 표시할 요소 -->
            {{funding.title}}
            {{funding.content}}
            <h2>{{order_number}}번 째로 펀딩하셨어요!</h2>
          </div>
      </div>
      <a href="{% url 'main:mainpage' %}">홈으로</a>
    </div>
    <script>
        // JSON 문자열을 파싱하여 JavaScript 객체로 변환
        console.log();
        const resData = JSON.parse(`${res}`);
        console.log(resData);
  
        // totalAmount 값을 추출
        const totalAmount = resData.totalAmount;
  
        // totalAmount를 표시할 요소를 찾아서 표시
        const totalAmountDisplay = document.getElementById("totalAmountDisplay");
        totalAmountDisplay.innerHTML = `totalAmount: ${totalAmount}원`;
      </script>
  </body>
</html>