{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <form method="post" action="{% url 'accounts:signup' %}">
        {%csrf_token %}
    <div class="form">
        <img src="{% static 'images/group.png' %}" alt="My Image">
        <p>회원가입 할 이메일을 입력해주세요.</p><span>
        <input type='text' name='email' placeholder='ex. zakso@gmail.com'/></span>

        <p>비밀번호를 입력해주세요</p><span><input type ="password" name="password1"/></span> 
        <p>비밀번호를 다시 입력해주세요</p><span><input type ="password" name="password2"/></span> 

        <p>사용하실 닉네임을 입력해주세요.</p><span>
            <input type='text' name='username' placeholder='2~8자, 영문*한글*숫자 사용 가능'/></span>

        <div class="inputBox">
             <div id="month">
                <p>생년월일</p>
                <input type='text' name='birth_date' placeholder='YYMMDD'/>
            </div>
            <div id="phoneNum">
                <p>전화번호</p>
              <input type ="text" name="phone_number"/>
            </div>
        </div>


        <div class="inputCheck">
            <input type="checkbox" id="check_btn" name="agree"/>
            <label for="check_btn"><span>가입하신 이메일로 광고/마케팅 수신을 받으시겠습니까?</span></label>
        </div>

        <button type="submit" class="finish">회원가입완료</button>
    
   </div>
</form>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="signup">
            <form method="post" action="{% url 'accounts:signup' %}">
                {%csrf_token %}
                <div class="a">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" name="email" id="email"
                        value="{{ form.email.value|default_if_none:' ' }}">
                </div>
                <div class="a">
                    <label for="password1">비밀번호</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                        value="{{ form.password1.value|default_if_none:' ' }}">
                </div>
                <div class="a">
                    <label for="password2">비밀번호 확인</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                        value="{{ form.password2.value|default_if_none:' ' }}">
                </div>
                <div class="a">
                    <label for="username">사용할 닉네임</label>
                    <input type="text" class="form-control" name="username" id="username"
                        value="{{ form.username.value|default_if_none:' ' }}">
                </div>
                <div class="a">
                    <label for="birth_date">생년월일</label>
                    <input type="date" class="form-control" name="birth_date" id="birth_date"
                        value="{{ form.birth_date.value|default_if_none:' ' }}">
                </div>
                <div class="a">
                    <label for="phone_number">전화번호</label>
                    <input type="text" class="form-control" name="phone_number" id="phone_number"
                        value="{{ form.phone_number.value|default_if_none:' ' }}">
                </div>

                {% if form.errors %}  <!--사용자에게 입력받는 부분에서 에러 생기면 뜨는 에러 메세지-->
                <!-- <ul class="errorlist">
                    {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors.0 }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button type="submit" value="가입">가입하기</button>
            </form>
        </div>
    </body>
</html> -->