header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav>p{
    margin-left: 20px;
    margin-top: -25px;
    color: var(--gray, #1F1F1F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
width: 400px;
color: var(--gray, #1F1F1F);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

input{
border: none;
width: 353px;
height: 37px;
flex-shrink: 0;
border-radius: 10px;
background: var(--light_gray2, #F6F6F6);
}

.box{
display: flex;
flex-direction: row;
}

.btn-type1>button{
width: 60px;
height: 33px;
flex-shrink: 0;
border-radius: 10px;
background: var(--strong_pink, #F33D69);
color: #FFF;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
margin-left: -30px;
margin-top: 5px;
}

.qrtext{
    margin-left: -10px;
    margin-top: 40px;
}


h2{
    color: var(--gray, #1F1F1F);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.qrtext>p{
    color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 15px; /* 150% */
}

.qrtext>button{
border: none;
color: #FFF;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 353px;
height: 37px;
flex-shrink: 0;
border-radius: 10px;
background: var(--strong_pink, #F33D69);
}

hr{
margin-top: 40px;
border: none;
background: var(--light_gray2, #F6F6F6);
 width: 390px;
 height: 4px;
flex-shrink: 0;
color: #FFF;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

h3{
color: var(--gray, #1F1F1F);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.imgUploadBox {
    margin-top: 1.44rem;
    margin-left: 1.2rem;
  }
  .imgUpload {
    display: none;
  }
  .imgUploadField {
    width: 22rem;
    height: 10.125rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    border: 1px solid var(--light_gray, #D6D6D6);
    background: var(--white, #FFF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
  }
  .uploadImgText {
    color: var(--mid_gray, #9E9E9E);
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 0.9rem;
  }

  h4{
margin-left: 20px;
margin-bottom: 150px;
color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 138.462% */
  }

  .qrbtn{
color: var(--white, #FFF);
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
width: 354px;
height: 43px;
flex-shrink: 0;
border-radius: 10px;
background: var(--strong_pink, #F33D69);

  }