header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav>p{
    margin-left: 20px;
    margin-top: -25px;
    color: var(--gray, #1F1F1F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logoImg{
    margin-top: -20px;
}


.sosofund-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
margin-bottom: 20px;
width: 360px;
color: var(--gray, #1F1F1F);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.choice{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}

select{
border: none;
border-radius: 10px;
background: var(--light_gray2, #F6F6F6);
width: 130px;
height: 39px;
flex-shrink: 0;
color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.choice>input{
margin-left: 10px;
border: none;
width: 212px;
height: 39px;
flex-shrink: 0;
border-radius: 10px;
background: var(--light_gray2, #F6F6F6);
color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.setbox{
   width: 380px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--gray, #1F1F1F);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.sides{
   width: 350px;
}


.side{
    color: var(--gray, #1F1F1F);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.by-side{
color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 9px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 200% */
}

 #append{
  margin-top: 20px; /* 컨테이너 위에 여백 추가 */
}

/* 각각의 입력 상자 세트에 대한 스타일 */
#append div {
  margin-bottom: 10px; /* 입력 상자 세트 간격 추가 */
}

/* 입력 상자에 대한 스타일 */
#append input[type="text"] {
    height: 25px;
    border-radius: 10px;
    border: none;
    background: var(--light_gray2, #F6F6F6);
    width: 150px; /* 입력 상자에 특정 폭 설정 */
    margin-right: 5px; /* 펀딩 금액과 리워드 이름 사이에 여백 추가 */
}

/* 리워드 추가 버튼에 대한 스타일 */
.alpha input[type="button"] {
    width: 96px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--strong_pink, #F33D69);
    background: var(--white, #FFF);
    color: var(--strong_pink, #F33D69);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.alpha input[type="button"]:hover {
    width: 96px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--strong_pink, #F33D69);
    color: var(--white, #FFF);
    background-color: var(--strong_pink, #F33D69);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
}

hr{
width: 390px;
height: 4px;
flex-shrink: 0;
border: none;
background: var(--light_gray2, #F6F6F6);
}

ul{

margin-bottom: 30px;
width: 400px;
margin-bottom: 50px;
color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


ul>div{
    margin-top: 20px;
}
li{
margin-bottom: 5px;
color: var(--mid_gray, #9E9E9E);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.up{
    border: none;
    width: 354px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--strong_pink, #F33D69);
    color: var(--white, #FFF);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}