{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div>
        <h1>선물 펀딩 만들기</h1>
        <form action="{% url 'main:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="{{ selected_type }}">
            <input type="text" name="writer">
            <h3>펀딩 이름</h3>
            <input type="text" name="title">
            <h3>목표 금액 설정</h3>
            <input type="number" name="total_price">
            <h3>기한 설정</h3>
            <input type="date" name="end_date">
            <h3>상품 이름</h3>
            <input type="text" name="product">
            <h3>작소펀딩 이야기</h3>
            <textarea name="content" cols="30" rows="10"></textarea>
            <h3>공개범위 설정</h3>
            <label for="public">전체 공개</label>
            <input type="radio" id="public" name="is_private" value="False">
            <label for="private">친구 공개</label>
            <input type="radio" id="private" name="is_private" value="True">
            <input type="file" name="funding_image">
            <button type="submit">펀딩 만들기</button>
        </form>
    </div>

{% endblock %}