{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/fund_finish.css' %}">
    <div class="finish">
        <p style="margin-bottom:50px;">선물 펀딩 업로드 완료!</p>
        <img src="{{funding.funding_image.url}}" style="width:130px; height:128px;">
        <h1>{{funding.title}}</h1>
        <h2 style="font-size:13px">선물 펀딩 업로드가 완료되었습니다.</h2>
        <h3 style="font-size:13px; margin-bottom:70px;">“내가 올린 펀딩"에서 확인할 수 있습니다. </h3>
        <div class="btns">
        <button class="finish-btn" onclick="location.href='{% url 'main:mainpage' %}'">메인화면으로 돌아가기</button>
        <button class="check-btn" onclick="location.href='{% url 'main:after_create' funding.id %}'">펀딩 게시글 확인하기</button>
        </div>
    </div>
{% endblock %}